h1 {
  padding: 20px 20px;
}
h3 {
  font-size: 20px;
}
ul {
  position: relative;
  right: 18px;
}
li {
  list-style-type: none;
}
.container {
  font-family: "Montserrat", sans-serif;
  color: #006ec5;
  max-width: 650px;
  text-align: center;
  border: 2px solid #006ec5;
  border-radius: 10px;
  padding: 10px;
}
.form-group {
  margin: 0 auto;
}

.search-bar {
  padding: 3px 10px;
  border-radius: 5px;
  border: px solid #006ec5;
}

.btn {
  color: #fff;
  background: #006ec5;
  padding: 5px 8px;
  font-size: 13px;
  position: relative;
  top: -2px;
}
.btn:hover {
  color: #006ec5;
  background: #fff;
  border: 1px solid #006ec5;
  transition: all 250ms ease-in-out;
}

#current-location-button {
  color: white;
  background: green;
  padding: 5px 8px;
  font-size: 13px;
  border: 1px solid green;
  border-radius: 5px;
  position: relative;
  right: -175px;
  top: -33px;
}
#current-location-button:hover {
  color: green;
  background: #fff;
  border: 1px solid green;
  transition: all 250ms ease-in-out;
}
.form-group {
  font-size: 15px;
}

.currentTime {
  color: black;
  font-size: 25px;
}

#fahrenheit-link {
  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
}
.forecast {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.weekday {
  padding: 10px 0;
  text-align: center;
}
.icon {
  font-size: 40px;
  text-align: center;
}
.high-temp {
  font-size: 12px;
  text-align: center;
}
.low-temp {
  font-size: 12px;
  text-align: center;
}
.source-code {
  font-size: 12px;
  text-align: center;
}
